{% extends "base.html" %}

{% block title %} {{current_user.username}} {% endblock title %}

{% block style %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/account.css' %}" />
{% endblock style %}

{% block content %}

<div class="container delete-div d-flex justify-content-center">
  <div class="card delete-card">
    <h1>Delete Account: {{ current_user.username }}</h1>
      <div class="card-body delete-card-body">
        <p>Are you sure you want to delete the semester?</p>
        <p class='warning'>All associated Semester, Income, and Expense records will be permanently erased.</p>
        <form action="" method="POST">
          {% csrf_token %}
          <input type="submit" action="" value="Yes, delete." class="btn btn-danger">
        </form>
    </div>
  </div>
</div>

{% endblock %}
