{% extends '../base.html' %}

{% block title %}
  <title>Update Account</title>
{% endblock title %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/form.css'%}"/>
{% endblock style %}


{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card">
    <h3>Update Account: {{ current_user.username }}</h3>
      <div class="card-body">
        <form method="POST" action="">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-primary">Update Account</button>
          <a class="btn btn-danger" href="{% url 'delete_account' user.username %}">Delete Account</a>
        </form>
      </div>
  </div>
</div>
{% endblock %}