{% extends '../base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}

    <div class="container">
        <div class="dropdown">
            <button>Select Semester</button>
            <div class="dropdown-options">
                {% for semester in semester_list %}
                    <a href="#">{{semester.semester_name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% else %}
        <div class="container">
            {% include './login.html' %}
        </div>
    {% endif %}

{% endblock content%}