{% extends '../base.html' %}
{% block title %}Create Semester{% endblock title %}
{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/form.css'%}"/>
{% endblock style %}
{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card semester-card">
    <h1>Create New Semester</h1>
    <div class="card-body semester-card-body">
      <form method="POST" class="semester-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="semester_name">Semester Name:</label>
            <input type="text" class="form-control" id="start_date" name="semester_name" required>
          </div>
        <div class="form-group">
          <label for="start_date">Semester Start Date:</label>
          <input type="date" class="form-control" id="start_date" name="start_date" required>
        </div>
        <div class="form-group">
          <label for="end_date">Semester End Date:</label>
          <input type="date" class="form-control" id="end_date" name="end_date" required>
        </div>
        <div class="form-group">
          <label for="starting_balance">Starting Balance:</label>
          <input type="number" class="form-control" id="starting_balance" name="starting_balance" step="0.01" required>
        </div>
        <div class="form-group">
          <label for="semester_tuition">Semester Tuition:</label>
          <input type="number" class="form-control" id="semester_tuition" name="semester_tuition" step="0.01" required>
        </div>
        <button type="submit" class="btn btn-primary semester-btn">Create Semester</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
