{% extends './home.html' %}
{% block title %}{{semester_name}}{% endblock title %}
{%block semester %}
<div class="container pt-5">
    <table class="table table-borderless">
        <tr>
            <td>Starting Balance: ${{start_bal}}</td>
            <td>Current Balance: ${{current_bal}}</td>
            <td>Expected End Balance: ${{end_bal}}</td>
        </tr>
    </table>
</div>
<div>
    <a href="{% url 'income_form' current_semester %}" class="btn btn-secondary">Create Income</a>
</div>

<!-- Income List with Report -->
<div class="container pt-5 pb-3">
    {% if incomes %}
    <h2><strong>Income List: </strong></h2>
    <table class="table table-striped">
        <thead class="table-bordered">
            <th>Memo</th>
            <th>Amount</th>
            <th>Recurring Period</th>
            <th>End Date</th>
            <th style="width: 20px;"></th>
        </thead>
        {% for income in incomes %}
            <tr>
                <td>{{income.memo}}</td>
                <td>{{income.amount}}</td>
                <td>{{income.recurring_period}}</td>
                <td>{{income.end_date}}</td>
                <td style="width: 20px;"><a class="btn btn-secondary btn-sm" href="#">Delete</a>
            </tr>
        {% endfor %}
    </table>   
    {% endif %}
</div>


<div>
    <a href="{% url 'expense_form' current_semester %}" class="btn btn-secondary">Create Expense</a>
</div>
<!-- Expense List with Report-->
<div class="container pt-5 pb-3">
    {% if expenses %}
        <h2><strong>Expense List: </strong></h2>
        <table class="table table-striped">
            <thead class="table-bordered"> 
                <th>Memo</th>
                <th>Amount</th>
                <th>Recurring Period</th>
                <th>End Date</th>
                <th style="width: 20px;"></th>
            </thead>
            {% for expense in expenses %}
                <tr>
                    <td>{{expense.memo}}</td>
                    <td>{{expense.amount}}</td>
                    <td>{{expense.recurring_period}}</td>
                    <td>{{expense.end_date}}</td>
                    <td style="width: 20px;"><a class="btn btn-secondary btn-sm" href="#">Delete</a>
                </tr>
            {% endfor %}
        </table>   
    {% endif %}
</div>
{% endblock semester %}