{% extends './home.html' %}
{% load static %}
{% block title %}{{semester_name}}{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/semester_tables.css' %}" />
{% endblock style %}
{%block semester %}
<div class="container pt-5">
    <table class="table overall-summary">
        <tr>
            <td>Starting Balance: ${{start_bal}}</td>
            <td>Current Balance: ${{current_bal}}</td>
            <td>Expected End Balance: ${{end_bal}}</td>
        </tr>
    </table>
</div>

<!-- Income List with Report -->
<div class="container pt-5 pb-3">
    <div class="row">
        {% if incomes %}
        <div class="col-sm-9">
        <table class="table table-striped table-list">
            <thead>
                <tr>
                    <th colspan="5"><h2>Income List</h2></th>
                </tr>
                <tr>
                    <th>Memo</th>
                    <th>Amount</th>
                    <th>Recurring</th>
                    <th>End Date</th>
                    <th style="width: 20px;">Update</th>
                </tr>
            </thead>
            {% for income in incomes %}
            <tbody>
                <tr>
                    <td>{{income.memo}}</td>
                    <td>${{income.amount}}</td>
                    <td>{{income.recurring_period}}</td>
                    <td>{{income.end_date}}</td>
                    <td style="width: 20px;"><a class="btn btn-secondary btn-sm" href="#">Update</a>
                </tr>
            <tbody>
            {% endfor %}
        </table>
        </div>
        <div class="col-sm-3">
            <table class="table  summary">
                <thead>
                    <th>Income Summary</th>
                </thead>
                <tr>
                    <td>Weekly Income: ${{income_weekly}}</td>
                </tr>
                <tr>
                    <td>Bi-weekly Income: ${{income_biweekly}}</td>
                </tr>
                <tr>
                    <td>Monthly Income: ${{income_monthly}}</td>
                </tr>
            </table>
        </div>
    {% else %}
    <h5><strong>There are no current incomes associated with this semester.
        Click the 'Create Income' link in the navbar to add your first income to this semester!
    </strong></h5>
    {% endif %}
    </div>
</div>

<!-- Expense List with Report-->
<div class="container pt-5 pb-3">
    <div class="row">
        {% if expenses %}
        <div class="col-sm-9">
            <table class="table table-striped table-list">
                <thead> 
                    <tr>
                        <th colspan="5"><h2>Expense List</h2></th>
                    </tr>
                    <tr>
                        <th>Memo</th>
                        <th>Amount</th>
                        <th>Recurring</th>
                        <th>End Date</th>
                        <th style="width: 20px;">Update</th>
                    </tr>
                </thead>
                {% for expense in expenses %}
                    <tr>
                        <td>{{expense.memo}}</td>
                        <td>${{expense.amount}}</td>
                        <td>{{expense.recurring_period}}</td>
                        <td>{{expense.end_date}}</td>
                        <td style="width: 20px;"><a class="btn btn-secondary btn-sm" href="#">Update</a>
                    </tr>
                {% endfor %}
            </table>
        </div> 
        <div class="col-sm-3">
            <table class="table table-bordered summary">
                <thead>
                    <th>Expense Summary</th>
                </thead>
                <tr>
                    <td>Weekly Expenses: ${{expense_weekly}}</td>
                </tr>
                <tr>
                    <td>Bi-weekly Expenses: ${{expense_biweekly}}</td>
                </tr>
                <tr>
                    <td>Monthly Expenses: ${{expense_monthly}}</td>
                </tr>
                <tr>
                    <td>Semester Tuition: ${{tuition}}</td>
                </tr>
            </table>
        </div>
    {% else %}
    <h5><strong>There are no current expenses associated with this semester.
        Click the 'Create Expense' link in the navbar to add your first expense to this semester!
    </strong></h5>
    {% endif %}
    </div>
</div>
{% endblock semester %}