{% extends '../admin_generic.html' %}

{% block title %}
  <title>Add Admin</title>
{% endblock title %}


{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card">
      <h1>Add New Admin:</h1>
      <div class="card-body">
        <form method="POST" action="" class="admin-form">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-secondary">Create Admin</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}