{% extends '../admin_generic.html' %}

{% block title %}
  <title>Add User</title>
{% endblock title %}


{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card">
    <h1>Add New User:</h1>
      <div class="card-body">
          <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Create User</button>
            <a style="margin: 0;" href="{% url 'administration_home' %}" class="btn btn-secondary">Back</a>
          </form>
      </div>
  </div>
</div>
{% endblock %}