{% extends '../admin_generic.html' %}

{% block title %}
  <title>Admin List</title>
{% endblock title %}


{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card list-card">
    <h2>Admin List: View and Edit Administrators Here </h2>

  <div class="card-body list-card-body">
    <p>Current Number of Admins: {{ number_of_admins }}</p> 


    <div class="container-fluid d-flex table-section">
      {% if admin_list %}
        <table class="table table-striped" id='list-table'>
          <thead class="table-dark">
            <th>Username:</th>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Email:</th>
            <th></th>
          </thead>
          {% for admin in admin_list %}
            <tr>
              <td>{{admin.username}}</td>
              <td>{{admin.first_name}}</td>
              <td>{{admin.last_name}}</td>
              <td>{{admin.email}}</td>
              <td><a href="{% url 'admin_detail' admin.username %}" class="btn btn-secondary">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
          <p>No Administrators On Record</p>
      {% endif %}
      </div>
      <a href="{% url 'add_admin' %}" class="btn btn-secondary">Add New Administrator</a>
    </div>
  </div>
</div>
{% endblock %}