{% extends '../admin_generic.html' %}

{% block title %}
  <title>Admin Detail</title>
{% endblock title %}


{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card details">
    <h2>Admin Details: {{admin.username}}</h2>
      <div class="card-body details">
        <p class="card-text"> 
          <strong>Admin First Name:</strong> {{ admin.first_name }}
        </p>
        <p class="card-text"> 
          <strong>Admin Last Name:</strong> {{ admin.last_name }}
        </p>
        <p class="card-text"> 
          <strong>Admin Email:</strong> {{ admin.email }}
        </p>
        <a href="{% url 'admin_list' %}" class="btn btn-secondary">Back</a>
        <a href="{% url 'update_admin' admin.username %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'change_password' admin.username %}" class="btn btn-secondary">Change Password</a>
        <a href="{% url 'delete_admin' admin.username %}" class="btn btn-danger">Delete</a>
      </div>
  </div>
</div>
{% endblock %}