{% extends 'admin_generic.html' %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card">
        <h3>Change Password: {{selected_user.username}} </h3>
        <div class="card-body">
            <form method="POST" class="control-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="password1">Enter New Password:</label>
                    <input type="text" id="password1" name='password1' class="form-control"></input>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password:</label>
                    <input type="text" id="password2" name='password2' class="form-control passinput"></input>
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}